body {
	background-color: #e0e0e0;
	font-family: Arial;
	margin: 0px;
	color: #454242;
}

.main-container {
	background-color: white;
	margin: 0px 27%;
	box-shadow: 1px 2px 7px gray;
}

.content-wrapper {
	padding: 5px 20px;
}

h3 {
	margin: 0px;
	text-align: center;
	padding-bottom: 25px;
	color: #5539e3;
}

.unbold {
	font-weight: normal;
}

form {
	text-align: center;
}

table {
	display: inline-block;
	text-align: left;
}

th {
	text-align: left;
}

tr td:nth-of-type(1) {
	width: 20px;
}

tr td:nth-of-type(2) {
	width: 70px;
}

table tr:nth-of-type(8) td:nth-of-type(5) {
	padding-left: 10px;
	width: 40px;
}

table tr:nth-of-type(8) td:nth-of-type(6) {
	width: 30px;
}

table tr:nth-of-type(8) td:nth-of-type(6) input {
	width: 25px;
	text-align: right;
}

textarea {
	width: 141px;
	height: 32px;
	resize: unset;
}